<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= title %></title>
    <link rel="stylesheet" href="./css/styles.css">
    <link rel="stylesheet" href="./css/profil.css">

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-aFq/bzH65dt+w6FI2ooMVUpc+21e0SRygnTpmBvdBgSdnuTN7QbdgL+OapgHtvPp" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.8.3/font/bootstrap-icons.css">
</head>

<body>
    <section>
        <%- include('sidebar') %>
        <main>
            <div class="container-main">
              <%- body %>
            </div>
        </main>
    </section>
</body>

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha2/dist/js/bootstrap.bundle.min.js" integrity="sha384-qKXV1j0HvMUeCBQ+QVp7JcfGl760yU08IQ+GpUo5hlbpg51QRiuqHAJz8+BrxE/N" crossorigin="anonymous"></script>

<script>
const toggle = document.querySelector('.toggle');
const menu = document.querySelector('.menu');
const sidebar = document.querySelector('aside');
const main = document.querySelector('main');
const user = document.querySelector('.user');
const logo = document.querySelector('.company-name');
const wrapper = document.querySelector('.wrapper-postingan');
toggle.addEventListener('click', () => {
    toggle.classList.toggle('toggle-js');
    menu.classList.toggle('menu-js');
    sidebar.classList.toggle('aside-js');
    main.classList.toggle('main-js');
    user.classList.toggle('user-js');
    logo.classList.toggle('company-name-js');
    logo.classList.toggle('wrapper-postingan-js');
    
})

const canvas = document.getElementById("canvas");
        const ctx = canvas.getContext("2d");
        let isDrawing = false;

        // Membuka tanda tangan saat mouse ditekan
        canvas.addEventListener("mousedown", (event) => {
            isDrawing = true;
            ctx.beginPath();
            ctx.moveTo(event.clientX, event.clientY);
        });

        // Menggambar tanda tangan saat mouse digerakkan
        canvas.addEventListener("mousemove", (event) => {
            if (isDrawing) {
                ctx.lineTo(event.clientX, event.clientY);
                ctx.stroke();
            }
        });

        // Menutup tanda tangan saat mouse dilepas
        canvas.addEventListener("mouseup", () => {
            isDrawing = false;
        });

        // Menghapus tanda tangan pada canvas
        function clearCanvas() {
            ctx.clearRect(0, 0, canvas.width, canvas.height);
        }

        // Menyimpan tanda tangan sebagai gambar PNG
        function saveSignature() {
            const downloadLink = document.createElement("a");
            downloadLink.href = canvas.toDataURL("image/png");
            downloadLink.download = "tanda-tangan.png";
            downloadLink.click();
        }
</script>

</html>