<header>
    <div class="toggle">
      <span></span>
      <span></span>
      <span></span>
    </div>
  </header>
  <aside>
    <div class="company-name">
      <a href="/">
      <span>O-SIGN</span>
    </a>
    </div>
    <div class="menu">
      <a href="/">
        <span><i class="bi bi-house-door"></i></span>
        <span class="link">Home</span>
      </a>
      <a href="/profil" class="btn btn-profile">
        <span><i class="bi bi-person"></i></span>
        <span class="link">Profil</span>
      </a>
        <a href="/upload" class="btn btn-upload">
            <span><i class="bi bi-file-plus"></i></span>
            <span class="link">Upload</span>
          </a>
          <a href="/document">
            <span><i class="bi bi-card-list"></i></span>
            <span class="link">Document</span>
          </a>
          <a href="/template">
            <span><i class="bi bi-layout-text-sidebar-reverse"></i></span>
            <span class="link">Template</span>
          </a>
          
        
    </div>
  </aside>