
  <aside>
    <div class="brand">
      <a href="/">
      <span>O - Sign</span>
    </a>
    </div>
    <div class="menu">
        <a href="/">
          <span class="link">Home</span>
        </a>
        <a href="/profil">
          <span class="link">Profil</span>
        </a>
        <a href="/message">
          <span class="link">Message</span>
        </a>
        <a href="/document">
          <span class="link">Document</span>
        </a>
        
        
    </div>
  </aside>