<nav>
  
</nav>
<!DOCTYPE html>
    <html lang="en">
        <head>
            <title>Generate</title>
            <meta charset="utf-8">
            <meta name="viewport" content="width=device-width, initial-scale=1">
            <link rel="stylesheet" href="profil.css">
            <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
            <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
          </head>
    <body>
        <div class="container">
            <div class="main-body">
                <div class="row">
                    <div class="col-lg-5">
                        <div class="card">
                            <div class="card-body">
                                <div class="row mb-3">
                                    <div class="col-sm-9">
                                        <h6 class="mb-0">Tanggal Surat</h6>
                                    </div>
                                    <div class="col-sm-9 text-secondary">
                                        <input type="text" class="form-control" name="tanggalsurat" id="tanggalsurat" placeholder="tanggal surat" title="tanggalsurat">
                                    </div>
                                </div>
                                <div class="row mb-3">
                                    <div class="col-sm-9">
                                        <h6 class="mb-0">Nomor Surat</h6>
                                    </div>
                                    <div class="col-sm-9 text-secondary">
                                        <input type="text" class="form-control" name="nomorsurat" id="nomorsurat" placeholder="nomor surat" title="nomorsurat">
                                    </div>
                                </div>
                                <div class="row mb-3">
                                    <div class="col-sm-9">
                                        <h6 class="mb-0">Hal</h6>
                                    </div>
                                    <div class="col-sm-9 text-secondary">
                                        <input type="text" class="form-control" name="hal" id="hal" placeholder="hal" title="hal">
                                    </div>
                                </div>
                                <div class="row mb-3">
                                    <div class="col-sm-9">
                                        <h6 class="mb-0">Lampiran</h6>
                                    </div>
                                    <div class="col-sm-9 text-secondary">
                                         <input type="text" class="form-control" name="lampiran" id="lampiran" placeholder="lampiran" title="lampiran">
                                    </div>
                                </div>
                                <div class="row mb-3">
                                    <div class="col-sm-9">
                                        <h6 class="mb-0">Tujuan</h6>
                                    </div>
                                    <div class="col-sm-9 text-secondary">
                                         <input type="text" class="form-control" name="tujuan" id="tujuan" placeholder="tujuan" title="tujuan">
                                    </div>
                                </div>
                                <div class="row mb-3">
                                    <div class="col-sm-9">
                                        <h6 class="mb-0">Pengirim</h6>
                                    </div>
                                    <div class="col-sm-9 text-secondary">
                                         <input type="text" class="form-control" name="pengirim" id="pengirim" placeholder="pengirim" title="pengirim">
                                    </div>
                                </div>
                                     
            
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-7">
                        <div class="card">
                            <div class="card-body">
                                <div class="row mb-3">
                                    <div class="col-sm-3">
                                        <h6 class="mb-0">Pembuka</h6>
                                    </div>
                                    <div class="col-sm-9 text-secondary">
                                        <input type="text" class="form-control" name="pembuka" id="pembuka" placeholder="pembuka" title="pembuka">
                                    </div>
                                </div>
                                <div class="row mb-3">
                                    <div class="col-sm-3">
                                        <h6 class="mb-0">Isi</h6>
                                    </div>
                                    <div class="col-sm-9 text-secondary">
                                        <input type="text" class="form-control" name="isi" id="isi" placeholder="isi" title="isi">
                                    </div>
                                </div>
                                <div class="row mb-3">
                                    <div class="col-sm-3">
                                        <h6 class="mb-0">Penutup</h6>
                                    </div>
                                    <div class="col-sm-9 text-secondary">
                                        <input type="text" class="form-control" name="penutup" id="penutup" placeholder="penutup" title="penutup">
                                    </div>
                               
                            </div>
                        </div>
                        
                    </div>
                </div>
            </div>
        </div>
     
        <div class="row">
            <div class="col-sm-5"></div>
            <div class="col-sm-5 text-secondary">
                <!-- <input type="button" class="btn btn-primary px-4" value="Edit"> -->

                <button class="btn btn-lg btn-primary pull-right" type="submit"><i class="glyphicon glyphicon-ok-sign"></i>Generate</button>
            </div>
        </div>
    </body>
</html>