<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    <link rel='stylesheet' href='./css/auth.css'/> 
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
</head>
<body>
    <div class="regis-wrapper">
        <div class="form-container">
            <div class="title">
                <h1>O - Sign</h1>
            </div>
            <form id="login-form">
                <div class="form-item">
                    <label for="usernameOrEmail" class="form-label">Username or Email</label>
                    <input type="text" name="usernameOrEmail" class="form-control" id="usernameOrEmail" >
                </div>
                <div class="form-item">
                    <label for="exampleInputPassword1" class="form-label">Password</label>
                    <div class="password-container">
                        <input type="password" name="password" class="form-control" id="password">
                        <i class="password-icon fas fa-eye" onclick="togglePasswordVisibility('password')"></i>
                    </div>
                </div>
                <button type="submit" class="btn-submit">
                    Login
                </button>
             
                <div class="line"></div>
                <a href="/signup" class="link-btn">Sign Up</a>
            </form>
        </div>
    </div>

    <script>
        const loginForm = document.getElementById('login-form');

        loginForm.addEventListener('submit', async (event) => {
         event.preventDefault();

        const usernameOrEmail = document.getElementById('usernameOrEmail').value;
        const password = document.getElementById('password').value;

        const response = await fetch('/login', {
  method: 'POST',
  headers: {
    'Content-Type': 'application/json'
  },
  body: JSON.stringify({ usernameOrEmail, password })
});

if (response.ok) {
  // Login successful
  // Redirect to the homepage or any other desired page
  window.location.href = '/';
} else {
  const data = await response.json();
  // Login failed, display error message
  alert(data.error);
}
        });

        function togglePasswordVisibility(inputId) {
          var passwordInput = document.getElementById(inputId);
          var passwordIcon = passwordInput.nextElementSibling;

          if (passwordInput.type === "password") {
            passwordInput.type = "text";
            passwordIcon.classList.remove("fa-eye");
            passwordIcon.classList.add("fa-eye-slash");
          } else {
            passwordInput.type = "password";
            passwordIcon.classList.remove("fa-eye-slash");
            passwordIcon.classList.add("fa-eye");
          }
        }
    </script>
    
</body>
</html>
