<nav>
  
</nav>



<div class="top-document">
  <h3 class="mb-4 mx-2">Message</h3>
  
</div>
<table class="table">
  <thead>
    <tr>
      <th>File</th>
      <th>Pengirim</th>
      <th>Tanggal</th>
      <th>Deskripsi</th>
      <th>Opsi</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>Surat Undangan.pdf</td>
      <td>Ahmad</td>
      <td>12 Februari 2023</td>
      <td>Permintaan TTD</td>
      <td class="action">
        <a href="#" class="btn btn-warning text-white mb-2">Sign</a>
        <a href="#" class="btn btn-danger mb-2">Hapus</a>
      </td>
    </tr>
    
  </tbody>
</table>

