<nav>
  
</nav>
<div class="wrapper-profil">
  <div class="avatar">
    <img src="./img/avatar.jpg" alt="avatar">                                  
      <h1>Username</h1>  
      <div class="logout">
        <a href="/login" class="btn btn-danger" align="middle">Logout</a>
      </div>
       
 </div>

  <form>
  <div class="row mb-3">
    <label for="username" class="col-sm-2 col-form-label">Your Name</label>
    <div class="col-sm-5">
        <input type="text" id="disabledTextInput" class="form-control" placeholder="Mhd Faiz Yunus">
    </div>
  </div>
  <div class="row mb-3">
    <label for="email" class="col-sm-2 col-form-label">Email</label>
    <div class="col-sm-5">
      <input type="email" class="form-control" id="email" placeholder="Mhd@gmail.com">
    </div>
  </div>
  <div class="row mb-3">
    <label for="Phone" class="col-sm-2 col-form-label">Phone</label>
    <div class="col-sm-5">
      <input type="text" class="form-control" id="Phone" placeholder="123456">
    </div>
  </div>
  <div class="row mb-3">
    <label for="password" class="col-sm-2 col-form-label">Password</label>
    <div class="col-sm-5">
      <input type="password" class="form-control" id="password" placeholder="*******">
    </div>
  </div>
  <button type="submit" class="btn-save-profil">Edit</button>
</form>

</div>