.page-title{
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 500;
  font-size: 32px;
  margin-bottom: 42px;
}
.form-upload label{
  font-weight: 400;
  font-size: 21px;
}
.form-upload input{
    box-shadow: rgba(0, 0, 0, 0.08) 0px 4px 12px;
    border-radius: 4px;
    border:0;
}
.form-upload textarea{
  box-shadow: rgba(0, 0, 0, 0.08) 0px 4px 12px;
  border-radius: 3px;
  border:0;
}

.btn-doc{
  display:flex;
  justify-content: flex-end;
  gap:20px;
}


